.cabecalho .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalho__nav {
    display: flex;
}

.artes__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}